# Top-most EditorConfig file
root = true

# Global settings
[*.cs]
# Remove the need for a copyright header
dotnet_diagnostic.SA1600.severity = none # Elements should be documented
dotnet_diagnostic.SA1601.severity = none # Partial elements should be documented
dotnet_diagnostic.SA1602.severity = none # Enumeration items should be documented
dotnet_diagnostic.SA1603.severity = none # Const fields should be documented
dotnet_diagnostic.SA1604.severity = none # Delegates should be documented
dotnet_diagnostic.SA1605.severity = none # Partial elements must have an access modifier
dotnet_diagnostic.SA1606.severity = none # Partial elements must have a body
dotnet_diagnostic.SA1607.severity = none # Static elements should be documented
dotnet_diagnostic.SA1608.severity = none # Enum values should be documented
dotnet_diagnostic.SA1609.severity = none # Property elements should be documented
dotnet_diagnostic.SA1610.severity = none # Field elements should be documented
dotnet_diagnostic.SA1611.severity = none # Parameters must be documented
dotnet_diagnostic.SA1612.severity = none # Parameter names must match
dotnet_diagnostic.SA1613.severity = none # Method parameters should be documented
dotnet_diagnostic.SA1614.severity = none # Property parameters should be documented
dotnet_diagnostic.SA1615.severity = none # Return value must be documented
dotnet_diagnostic.SA1616.severity = none # Property value must be documented
dotnet_diagnostic.SA1617.severity = none # Void return values should not be documented
dotnet_diagnostic.SA1618.severity = none # Generic type parameters must be documented
dotnet_diagnostic.SA1619.severity = none # Generic type parameter names should be documented
dotnet_diagnostic.SA1620.severity = none # Documentation text must be present
dotnet_diagnostic.SA1621.severity = none # Element documentation must be present
dotnet_diagnostic.SA1622.severity = none # Constructor initializers should be documented
dotnet_diagnostic.SA1623.severity = none # Properties must be documented
dotnet_diagnostic.SA1624.severity = none # Documentation should not be empty
dotnet_diagnostic.SA1625.severity = none # Documentation must not contain spaces
dotnet_diagnostic.SA1626.severity = none # Documentation must not contain tabs
dotnet_diagnostic.SA1627.severity = none # Documentation should not contain leading whitespace
dotnet_diagnostic.SA1628.severity = none # Documentation should not contain trailing whitespace
dotnet_diagnostic.SA1629.severity = none # Documentation must be valid XML
dotnet_diagnostic.SA1633.severity = none # File must have header